{% extends 'base.html' %}

{% block titulo %}Mi perfil{% endblock %}

{% block contenido %}
    <h1>Mi perfil</h1>

    <div class="perfil-cabecera">
        {% if user.foto %}
            <img class="avatar-grande" src="{{ user.foto.url }}" alt="Foto de {{ user.username }}">
        {% else %}
            <span class="avatar-grande avatar-letra">{{ user.username|first|upper }}</span>
        {% endif %}

        <div>
            <p class="perfil-nombre">{{ user.get_full_name|default:user.username }}</p>
            <p class="categoria">{{ user.username }}</p>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" class="formulario">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar cambios</button>
    </form>

    <p class="aviso">Tus datos de entrega se usarán para llenar tu próxima compra.
    El nombre de usuario no se puede cambiar.</p>

    <p><a href="{% url 'password_reset' %}">Cambiar mi contraseña</a></p>
{% endblock %}
